In [1]:
#exercise 1
print("Hello, Python!")

Hello, Python!

In [98]:
#exercise 2
def arithmetic(a, b):
    print("sum:", a+b)
    print("difference:", a-b)
    print("product:", a*b)
    print("quotient:", a//b)
    return

In [25]:
#exercise 3
name = 'julia'
print(f"Hello, {name}!")

Hello, julia!

In [41]:
#exercise 4
universities = ['HKU', 'CUHK', 'esade', 'LSE', 'IC', 'IE']
print(universities)
print(universities[0], universities[(len(universities)-1)])

['HKU', 'CUHK', 'esade', 'LSE', 'IC', 'IE']
HKU IE

In [45]:
#exercise 5
students = {"name":"julia", "age":23, "grade":"A"}
print(students)

{'name': 'julia', 'age': 23, 'grade': 'A'}

In [51]:
#exercise 6
coordinates = (2,3)
print(coordinates[0], coordinates[1])

2 3

In [69]:
#exercise 7
colors = {"red", "green", "blue"}
colors.add("pink")
colors.add("pink")
print(colors)
colors.pop()
light_colors = {"yellow", "purple"}
all_colors = colors.union(light_colors)

{'blue', 'green', 'red', 'pink'}
{'green', 'purple', 'red', 'pink', 'yellow'}

In [79]:
#exericse 8
def check(n):
    if n == 0:
        print("value is zero")
    elif n > 0:
        print("value is positive")
    else:
        print("value is negative")
    return

n = int(input("enter a number:"))
check(n)

enter a number: 0

value is zero

In [4]:
#exercise 9
list = [i for i in range(1,6)]
for i in list:
    print (i)

1
2
3
4
5

In [226]:
#exercise 10
i = 1
while i < 6:
    print(i)
    i = i+1

1
2
3
4
5

In [22]:
#exercise 11
n = input("input a grade:")

match(n):
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("invalid input")

input a grade: G

invalid input

In [28]:
#exercise 12
def greet(n):
    n = input("name:")
    print (f"Hello, {n}!")
    return

greet(n)

name: julia

Hello, julia!

In [74]:
#exercise 13
n = int(input("integer:"))
def square(n):
    return n**2

integer: 5

In [66]:
#exercise 14
def multiple(a, b=1):
    return a*b

5

In [92]:
#exercise 15
list = [i for i in range(1,11)]
list2 = [i**2 for i in list]

In [4]:
#exercise 16
grades = {"jan":[50,60,80], "julia":[70,60,90]}

def average(a):
    j = 0
    for i in a:
        j = j + i
    return round((j/len(a)),2)

for k in grades:
    print(k, average(grades[k]))

jan 63.33
julia 73.33

In [94]:
def conversion(x):
    b = []
    for i in x:
        match(i):
            case 'A':
                b.append(3)
            case 'B':
                b.append(2)
            case 'C':
                b.append(1)
    return b

def average(y):
    j = 0
    for i in y:
        j = j + i
    j = round(j/len(y))
    return j

def finalgrade(z):
    match(z):
        case 1:
            return 'C'
        case 2:
            return 'B'
        case 3:
            return 'A'

grades = {"zein":['B','C','C'], "julia":['A','A','B'], "sassine":['C','A','A']}

def cal(n):
    b = conversion(n)
    j = average(b)
    return finalgrade(j)

for k in grades:
    print(k, cal(grades[k]))

zein C
julia A
sassine B

In [96]:
#exercise 17
def calculate(a,b,c):
    if c == '+':
        return a+b
    elif c == '-':
        return a-b
    elif c == '*':
        return a*b
    elif c == '/':
        return a/b

a = int(input('a:'))
b = int(input('b:'))
c = input('c:')
print(calculate(a,b,c))

a: 4
b: 5
c: /

0.8