### Session 1

<div class="alert alert-block alert-warning">
<h4> Syntax and Variables <h4>
</div>

<div class="alert alert-block alert-info">
<b>Exercise 1: Print a Greeting</b> 

Write a python program that prints a greeting message
</div>

In [3]:
print("Hello, Python!")

Hello, Python!

<div class="alert alert-block alert-info">
<b>Exercise 2: Basic Arithmetic</b> 

Create a program that takes two variables and print their sum, difference, product, and quotient
</div>

In [12]:
def arithmetic(a, b):
    print("sum:", a+b)  #addition
    print("difference:", a-b)   #subtraction
    print("product:", a*b)  #multiplication
    print("quotient:", a//b)    #division
    return

In [17]:
arithmetic(5,9) #calling arithmetic function

sum: 14
difference: -4
product: 45
quotient: 0

<div class="alert alert-block alert-info">
<b>Exercise 3: String Manipulation</b> 

Create a program that displays a message saying "Hello, [name]!", with [name] being the value stored in the variable.
</div>

In [16]:
#assign my name 'julia' to variable 'name'
name = 'julia' 

#print greeting
print(f"Hello, {name}!")

Hello, julia!

<div class="alert alert-block alert-warning">
<h4> Lists and Dictionaries <h4>
</div>

<div class="alert alert-block alert-info">
<b>Exercise 4: Lists</b> 

Create a list called universities with at least five different university names, then print the entire list along with the first and last university in it.
</div>

In [19]:
#create a list
universities = ['HKU', 'CUHK', 'esade', 'LSE', 'IC', 'IE']

In [21]:
#print the entire list
print(universities)

#print the first and last university in the list
print(universities[0], universities[(len(universities)-1)])

['HKU', 'CUHK', 'esade', 'LSE', 'IC', 'IE']
HKU IE

<div class="alert alert-block alert-info">
<b>Exercise 5: Dictionaries</b> 

Create a dictionary named student with the keys name, age, and grade, assign suitable values to each key, and then write a program to print each key-value pair in the dictionary.
</div>

In [29]:
#create a dictionary
students = {"name":"julia", "age":23, "grade":"A"}

In [30]:
print(students)

{'name': 'julia', 'age': 23, 'grade': 'A'}

<div class="alert alert-block alert-warning">
<h4> Tuples and Sets <h4>
</div>

<div class="alert alert-block alert-info">
<b>Exercise 6: Tuples</b> 

Define a tuple named coordinates with two values representing a point in 2D space (e.g., (x, y)), and then print the tuple along with each element accessed by its index.
</div>

In [35]:
#define tuple called coordinates
coordinates = (2,3)

In [37]:
#print coordinates by index
print(coordinates[0], coordinates[1])

2 3

<div class="alert alert-block alert-info">
<b>Exercise 7: Sets</b> 

Create a set with colors and manipulate the set
</div>

In [13]:
colors = {"red", "green", "blue"}

In [14]:
#add another color 'pink' to the set
colors.add("pink") 
print(colors)

{'red', 'pink', 'blue', 'green'}

In [15]:
#adding a duplicate color to the set
colors.add("pink")
print(colors) #no duplicates

{'red', 'pink', 'blue', 'green'}

In [16]:
#remove one color from set
colors.pop()

'red'

In [18]:
#create another set
light_colors = {"yellow", "purple"}

#merge light_colors with colors set
all_colors = colors.union(light_colors)
print(all_colors)

{'pink', 'yellow', 'green', 'purple', 'blue'}

<div class="alert alert-block alert-warning">
<h4> Control Flow <h4>
</div>

<div class="alert alert-block alert-info">
<b>Exercise 8: Conditional statements</b> 

Create a program that checks if a number is positive, negative, or zero, and print an appropriate message based on the result.
</div>

In [2]:
def check(n):
    if n == 0:      
        print("value is zero")      
    elif n > 0:
        print("value is positive")
    else:
        print("value is negative")
    return

In [6]:
n = int(input("Enter a number: "))
check(n)

Enter a number:  5

value is positive

<div class="alert alert-block alert-info">
<b>Exercise 9: For loop</b> 

Create a list of numbers from 1 to 5 and use a for loop to iterate through the list, printing each number
</div>

In [8]:
list = [i for i in range(1,6)]      
for i in list:
    print (i)

1
2
3
4
5

<div class="alert alert-block alert-info">
<b>Exercise 10: While loop</b> 

Write a program that uses a while loop to print numbers from 1 to 5
</div>

In [4]:
i = 1

while i < 6:        #specify i < 6 to ensure the loop terminates correctly
    print(i)
    i = i+1

1
2
3
4
5

<div class="alert alert-block alert-info">
<b>Exercise 11: Match statement</b> 

Write a program that asks the user to input a grade (e.g., "A", "B", "C", "D", or "F")

Use a match statement to print a corresponding message for each grade
</div>

In [10]:
n = input("input a grade:")

match(n):
    case "A":
        print("Excellent!")
    case "B":
        print("Good job!")
    case "C":
        print("Fair.")
    case "D":
        print("Needs improvement.")
    case "F":
        print("Failing.")
    case _:
        print("invalid input")

input a grade: A

Excellent!

<div class="alert alert-block alert-warning">
<h4> Function <h4>
</div>

<div class="alert alert-block alert-info">
<b>Exercise 12: Define a function</b> 

Write a function called greet that takes a name as an argument and prints "Hello, [name]!".
</div>

In [12]:
def greet(n):
    n = input("name:")      #input my name 'julia'
    print (f"Hello, {n}!")
    return

greet(n)

name: julia

Hello, julia!

<div class="alert alert-block alert-info">
<b>Exercise 13: Function with a return value</b> 

Define a function called square that takes a number as an argument and returns its square
</div>

In [18]:
n = int(input("integer:"))
def square(n):
    return n**2

print(square(n))

integer: 2

4

<div class="alert alert-block alert-info">
<b>Exercise 14: Function with a default parameter</b> 

Write a function called multiply that takes two parameters, a and b, and returns their product
</div>

In [22]:
def multiple(a, b):
    return a*b

print(multiple(8,9))

72

In [24]:
#Set a default value of 1 for the parameter b

def multiple(a, b=1):
    return a*b

print(multiple(8,))

8

<div class="alert alert-block alert-warning">
<h4> Combined <h4>
</div>

<div class="alert alert-block alert-info">
<b>Exercise 15: List comprehension</b> 

Create a list of numbers from 1 to 10, then use list comprehension to create a new list that contains the squares of these numbers
</div>

In [6]:
list = [i for i in range(1,11)]
list2 = [i**2 for i in list]

print(list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

<div class="alert alert-block alert-info">
<b>Exercise 16: Nested data structures</b> 

Create a dictionary with student names as keys and lists of their grades as values, and write a function that calculates and prints the average grade for each student
</div>

In [26]:
#number grades
grades = {"jan":[6,8,10], "julia":[8,7,10]}

def average(a):
    j = 0
    for i in a:
        j = j + i
    return round((j/len(a)),2)

for k in grades:
    print(k, average(grades[k]))

jan 8.0
julia 8.33

In [9]:
#letter grades
def conversion(x):      #convert letter grades to numbers
    b = []
    for i in x:
        match(i):
            case 'A':
                b.append(3)
            case 'B':
                b.append(2)
            case 'C':
                b.append(1)
    return b

def average(y):
    j = 0
    for i in y:
        j = j + i
    j = round(j/len(y))
    return j

def finalgrade(z):
    match(z):
        case 1:
            return 'C'
        case 2:
            return 'B'
        case 3:
            return 'A'

grades = {"zein":['B','C','C'], "julia":['A','A','B'], "sassine":['C','A','A']}

def cal(n):
    b = conversion(n)
    j = average(b)
    return finalgrade(j)

for k in grades:
    print(k, cal(grades[k]))

zein C
julia A
sassine B

<div class="alert alert-block alert-info">
<b>Exercise 17: Simple calculator</b> 

Create a program with a calculate function that takes two numbers and an operator (+, -, *, /), performs the operation, and returns the result
</div>

In [28]:
#exercise 17
def calculate(a,b,c):
    if c == '+':
        return a+b
    elif c == '-':
        return a-b
    elif c == '*':
        return a*b
    elif c == '/':
        return a/b

a = int(input('a:'))
b = int(input('b:'))
c = input('c:')
print(calculate(a,b,c))

a: 6
b: 8
c: +

14